/*.launch
/deployment/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
/nativemobile/builds/
/robotframeworkdemo.mpr.bak
/robotframeworkdemo.mpr.lock
/vendorlib/temp/

# Local Cache Files
theme-cache/

# Test files
/tests/output/
output/
interactive_console_output.xml
/browser
